@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

html,
body {
    margin: 0;
    height: 100vh;
    background: #FCFCFC;
    overflow: hidden;
    transition: 0.2s ease-out;
}

* {
    font-family: 'SUITE Variable', sans-serif;
}

app-layout {
    position: absolute;
    display: flex;
    flex-direction: row;

    width: 1280px;
    height: 480px;

    overflow: hidden;
}

img {
    position: absolute;
    width: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#send {
    width: 52px;
}

alert-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 130px;
    background: #0000004F;
    padding: 9px 18px 6px 18px;
    border-radius: 10px;
    width: auto;
    height: 28px;
    opacity: 1.0;
    transition: 0.24s ease-in-out;
}

alert-content {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

.alert-hidden {
    opacity: 0.0;
    pointer-events: none;
}

content-area {
    position: absolute;
    width: 100%;
    height: 100%;
}

#userchat {
    outline: none;
    background: #FCFCFC;
    border: 4px solid #3B4DF3;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: 500;
    color: #0e0e0e;
    padding: 3px 24px 3px 24px;
    filter: drop-shadow(0 0 14px #3B4DF340);
    transition: 0.25s ease-in;
}

input-area {
    width: 80%;
    height: 48px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin-bottom: 48px;
    display: flex;
    transition: 0.25s ease-in;
    z-index: 15;
    transition: 0.25s ease-in;
}

send-button {
    width: 160px;
    height: 48px;
    background: linear-gradient(140deg, #3B4DF3 0%, #3D73FF 100%);
    padding: 7px 4px 7px 4px;
    margin-left: 9px;
    border-radius: 16px;
    filter: drop-shadow(0 0 14px #3b4df340);
    transition: 0.25s ease-in;
}

clear-button {
    width: 78px;
    height: 48px;
    background: linear-gradient(140deg, #3B4DF3 0%, #3D73FF 100%);
    padding: 7px 4px 7px 4px;
    margin-left: 9px;
    border-radius: 16px;
    filter: drop-shadow(0 0 14px #3b4df340);
    transition: 0.25s ease-in;
}

#userchat::placeholder,
#userchat::-webkit-input-placeholder,
#userchat::-moz-placeholder {
    color: #0000008d;
}

chat-area {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 330px;
    margin-top: 24px;
    border-radius: 16px;
    transition: 0.25s ease-in;
}

chat-list {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: visible;
    overflow-y: scroll;
}

user-chat,
ai-chat {
    width: fit-content;
    height: fit-content;
    max-width: 70%;
    background: #000000;
    border-radius: 14px;
    padding: 8px 16px 8px 16px;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

user-chat {
    background: linear-gradient(140deg, #3B4DF3 0%, #3D73FF 100%);
    filter: drop-shadow(0 0 14px #3B4DF33F);
    color: #F7F7F9;
    text-align: left;
}

ai-chat {
    background: linear-gradient(140deg, #DADEFF 0%, #C9D8FF 100%);
    filter: drop-shadow(0 0 14px #C9D8FF3F);
    color: #0e0e0ef8;
    text-align: left;
    white-space: pre-wrap;
}

.load {
    color: transparent;
}

load-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(140deg, #DADEFF 0%, #C9D8FF 100%);
    border-radius: 9px;
    overflow: hidden;
}

load-bar {
    position: absolute;
    width: 48px;
    height: 128px;
    border-radius: 50%;
    background: linear-gradient(140deg, #3B4DF3 0%, #3D73FF 100%);
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    animation: loading linear 1.7s infinite;
    filter: blur(28px);
}

@keyframes loading {
    0% {
        left: -50%;
        transform: translate(-50%, -50%);
    }

    100% {
        left: 150%;
        transform: translate(-50%, -50%);
    }
}

.hidden-chat {
    opacity: 0.0;
}

more-content {
    position: absolute;
    width: 205px;
    height: 128px;
    border-radius: 18px;
    filter: drop-shadow(0 0 14px #C9D8FF3F);
    background: linear-gradient(140deg, #DADEFF 0%, #C9D8FF 100%);
    bottom: 0;
    right: 0;
    margin-bottom: 110px;
    margin-right: 130px;
    opacity: 1.0;
    transition: 0.25s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #3B4DF3;
}

more-button {
    width: calc(100% - 12px);
    height: 54px;
    margin-left: 6px;
    border-radius: 12px;
    z-index: 20;
}

.intext {
    width: 98%;
    margin-bottom: 406px;
    height: 65px;
}

.intext #userchat {
    border: 6px solid #3B4DF3;
    border-radius: 24px;
    font-size: 30px;
}

.intext clear-button {
    width: 0px;
    opacity: 0.0;
    margin-left: 0px;
    padding: 0;
}

.intext send-button {
    width: 0px;
    opacity: 0.0;
    margin-left: 0px;
    padding: 0;
}

.hidden-more {
    transform: translateY(100%);
    opacity: -10.0;
}

more-icon {
    position: absolute;
    margin-top: 26px;
    margin-left: 12px;
}

more-text {
    position: absolute;
    margin-top: 13px;
    right: 0;
    margin-right: 28px;
    font-size: 22px;
    font-weight: 700;
}

more-text,
more-icon {
    pointer-events: none;
}

more-icon img {
    position: relative;
    width: 36px;
    transition: transform(0, 0);
}